@model IEnumerable<RouteScheduler.Models.ServiceRequested>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BusinessTemplate.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferredDayOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferredDayTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferredDayThree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaySlot)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessTemplate.JobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferredDayOne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferredDayTwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferredDayThree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaySlot)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RequestId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RequestId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RequestId })
        </td>
    </tr>
}

</table>
