@{
    Layout = "~/Views/Shared/_LayoutBusinessOwner.cshtml";
}

@model IEnumerable<RouteScheduler.Logic.EventsHolder>
<!DOCTYPE html>
<html>
<head>
    @*<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>*@
    <title></title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
       
    </style>
</head>
<body>

    <div class="body-content bg-light">
        <br />
        <h3>Welcome, @ViewData["NameIs"]!</h3>
        <div class-="container">
            <div class="row">
                <div class="col-7">
                    <h4>Events Scheduled For Today:</h4>

                    <table class="table">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Time
                            </th>
                            <th></th>
                        </tr>
                        @if (Model == null)
                        {
                            <tr>
                                <td>There's nothing here for today!</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(ModelItem => item.EventName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartDate.TimeOfDay)
                                </td>
                                <td>
                                    @Html.ActionLink("View Address", "Edit", new { id = item.CustomerId })
                                </td>
                            </tr>
                            }
                        }
                        </table>
                </div>
                <div class="col-5">
                    <br />
                    <div id="map"></div>
                    <script>
                        function initMap() {
                            var home = { lat: @ViewData["Lat"], lng: @ViewData["Lng"] };
                            var map = new google.maps.Map(
                                document.getElementById('map'), { zoom: 14, center: home });
                            var marker = new google.maps.Marker({ position: home, map: map });
                        }
                    </script>
                    <script async defer
                            src=@ViewData["ApiKey"]>
                    </script>
                </div>
            </div>
        </div>
        <br />
    </div>
</body>
</html>