@model IEnumerable<RouteScheduler.Models.ServiceRequested>

@{
    ViewBag.Title = "Service Requests";
}

<h2>Your job requests</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BusinessTemplate.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessTemplate.JobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferredDayThree)
        </td>
        <td>
            @Html.ActionLink("Schedule this person", "Edit", new { id=item.RequestId })
        </td>
    </tr>
}

</table>
