
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

@model IEnumerable<RouteScheduler.Models.BusinessOwner>


<div class="body-content bg-light">
    <br />
    <h2>Businesses near you</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusinessName)
            </th>
            <th>
                Location
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.ActionLink("Select", "ViewBusinessOwnerDetails", new { id = item.BusinessId })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessDetails)
                    </td>
            </tr>
        }

    </table>
</div>