@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}



@model IEnumerable<RouteScheduler.Models.BusinessTemplate>

@{
    ViewBag.Title = "ViewBusinessOwnerDetails";
}

<h2> @ViewBag.BusinessOwner.BusinessName</h2>

<p> @ViewBag.BusinessOwner.BusinessDetails</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceLength)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceLength)
            </td>
            <td>
                @Html.ActionLink("Select", "ScheduleEvent", new { id = item.TemplateId })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobDetails)
            </td>
        </tr>
    }

</table>
